<app-head></app-head>
<ion-content>
    <ion-card class="modulos-card">
      <ion-card-header>
        <ion-card-title>Seleccione que datos desea registrar primero</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="modulos-list">
          <ion-item>
            <li><a (click)="datosper()">Datos personales</a></li>
          </ion-item>
          <ion-item>
            <li><a (click)="datosaca()">Datos académicos</a></li>
          </ion-item>
          <ion-item>
            <li><a (click)="exper()">Experiencia</a></li>
          </ion-item>
          <ion-item>
            <li><a (click)="certif()">Certificaciones</a></li>
          </ion-item>
          <ion-item>
            <li><a (click)="proy()">Proyectos</a></li>
          </ion-item>
          <ion-item>
            <li><a (click)="public()">Publicaciones</a></li>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
<app-foot></app-foot>